<div class="wrapper">
  <div class="form-signin">
    <h2 class="form-signin-heading">Sign up</h2>

    <!-- Find image that fits smartphone -->
    <%= link_to image_tag('http://i.stack.imgur.com/Vk9SO.png', class: "img-responsive"), user_omniauth_authorize_path(:facebook)%>

    <br>
    <p style="text-align:center">or</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><i class="fa fa-user fa-fw"></i>&nbsp;<%= f.label :username,'Your Full Name' %><br />
      <%= f.text_field :username, autofocus: true %></div>

      <div>
      <%= f.label :email do %>
        <i class="fa fa-envelope-o fa-fw"></i>
        <%= User.human_attribute_name :email %>
      <%- end -%><br />
        <%= f.email_field :email %></div>

      <div>
      <%= f.label :password do %>
        <i class="fa fa-key fa-fw"></i>
        <%= User.human_attribute_name :password %>
      <%- end -%><br />
        <%= f.password_field :password, autocomplete: "off" %></div><br />

      <div><%= f.submit "Sign up", class: "btn btn-default" %></div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
