
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading"><%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/hackmai-logo.png', class: "img-responsive col-centered", size:"370x118") %></div>
            <button class="btn btn-xl" id="order-link">Start Ordering</button>
<!--             <div class="intro-lead-in">Premium Japanese rice dishes delivery right from your finger tips.</div> -->
            <p class="large text-center intro-desc">
                <strong>1.</strong> Ninja-ly fast FREE delivery&nbsp;&nbsp;
                <strong>2.</strong> No Tip&nbsp;&nbsp;
                <strong>3.</strong> No Tax&nbsp;&nbsp;
                <br />
                <strong>+</strong>
                <br />
                <strong>4.</strong> Premium Japanese rice dishes handcrafted by experienced Japanese chefs.
                <br />
                <strong>=</strong>
                <br />
                Best <strong>OMOTENASHI</strong> delivery experience ever.
                <br /><br />

                <strong>Open: Mon - Fri 11:30am - 2:30pm</strong><br/><br />
                Delivery limited to Chicago north loop area<br />
                (Test Launch - Nov 10 - Nov 26)
            </p>
        </div>
    </div>
</header>

<!-- Menu -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Samples of Our<br /> Original Premium Bowls</h2>
                <h3 class="section-subheading text-muted">Changes every week - <strong>Price: 7.99 - 11.99</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/brittlesalmon-small.jpg', class: "img-responsive")%>
                    <h4>Sushi Bowl</h4>
                    <p class="text-muted">Brittle Salmon Bowl</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/yakinikubeef-small.jpg', class: "img-responsive")%>
                    <h4 class="beef">Beef Bowl</h4>
                    <p class="text-muted">Yakiniku Beef Bowl</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/vegetablebowl-small.jpg', class: "img-responsive")%>
                    <h4 class="vege">Vegetable Bowl</h4>
                    <p class="text-muted">Grilled Vegetable Supreme Bowl</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Weekly premium rice dishes handcrafted by an experienced Japanese chef. Remember <strong>3.00</strong> includes tax, delivery fee and tip.</p>
            </div>
        </div>
    </div>
</section>

<!-- Order direction -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How do I order?</h2>
                <h3 class="section-subheading text-muted">Order Premium Japanese Rice dishes as easy as 4 steps!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-dot-circle-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">1. Choose your Bowl</h4>
                <p class="text-muted">Choose from our selection of exclusive Japanese rice dishes.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">2. Make a payment</h4>
                <p class="text-muted">After selecting your favorite rice dishes, make a payment with your credit card and receive order confirmation.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">3. Receive a call and meet a driver near the curb. (Stay Inside, Stay Warm!)</h4>
                <p class="text-muted">Recieve a three-minute warning call and be ready to receive your meals from HACKMAI driver near the curb.</p>
            </div>
            <div class="col-md-3">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">4. Enjoy your meals!</h4>
                <p class="text-muted">Enjoy our exclusive premium rice dishes! Share about us with your friends :) </p>
            </div>
        </div>
        <div class="row text-center">
            <button class="btn btn-xl2" id="order-link">Start Ordering</button>
        </div>
    </div>
</section>

<!-- Image slider -->
<div id="slider">
  <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/freshsalmonbowl-small.jpg')%>
  <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/oyakodon-small.jpg')%>
  <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/tofuteriyaki-small.jpg')%>
  <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/brittlesalmon-small.jpg')%>
  <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/vegetablebowl-small.jpg')%>
  <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/chickenavocado-small.jpg')%>
  <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/yakinikubeef-small.jpg')%>
</div>

<!-- Clients Aside -->
<!-- <aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>  -->

<script>
    //ideal-image-slider plugin
    var slider = new IdealImageSlider.Slider({
        selector: '#slider', //スライダーのclass
        height: 400, // スライダーの高さ
        interval: 4000, //次のスライドを表示する間隔
        transitionDuration: 700, //アニメーションの時間
        effect: 'slide'
    });
    slider.start();
</script>
<%= render "shared/mainfooter"%>
