<!-- Display menu only during opening hours -->
<% if ("11:00".."11:00").include? Time.now.strftime("%H:%M") %>
  <div class="order-index">
    <div class="container">
        <div class="row">
        <% if user_signed_in? %>
          <div class="col-sm-6 col-md-5">
            <h5>Please Enter Your Address: </h5><input type="text" class="form-control" id="address" placeholder="Street Address, City, State" value="<%=current_user.address if current_user%>">
            <!-- Address history -->
            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                Address History <i class="fa fa-history"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <% get_user_address_history.each do |address| %>
                <li><a id="user-address" tabindex="-1"><%=address%></a></li>
                <% end %>
              </ul>
            </div>
          </div>
          <!-- phone number -->
          <div class="col-sm-4 col-md-3">
            <h5>Cell Phone Number: </h5><input class="form-control" id="phone-input" type="tel" placeholder="Enter Phone Number" value="<%=current_user.phone if current_user%>">
          </div>
          <div class="col-sm-1 col-md-2 pull-right">
            <button class="page-scroll btn-lg btn-danger pull-right" id="checkout" data-toggle="modal" data-target="#myModal" disabled>Checkout</button>
          </div>
        <% else %>
          <div class="col-sm-1 col-md-2 pull-right">
            <br />
            <button class="page-scroll btn-lg btn-danger pull-right" id="checkout" data-toggle="modal" data-target="#myModal">Login To Checkout</button>
          </div>
        <% end %>
        </div>
        <h5 class="text-right"><i class="fa fa-clock-o"></i> open: Mon - Fri 11:30AM - 2:30PM</h5>
        <h5 class="text-right"><i class="fa fa-car"></i> delivery: 10mins ~ 30mins</h5>
        <!-- Menu -->
        <div class="menuname-back"><h4 class="menu-title">Free Delivery! Price includes Tip + Tax. </h4></div>
        <div class="menuname-back-brown"><h4 class="menu-title">All rice dishes come with Japanese brown rice on the bottom.</h4></div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="corner"><h2><%=@menuitems[0].quantity%>&nbsp;left</h2></div>
              <img src=<%=@menuitems[0].image_url%> class="img-responsive img-circle">
              <div class="caption">
                <h4><%=@menuitems[0].name%> <small><%=@menuitems[0].price%></small></h4>
                <% if user_signed_in? %>
                <div class="pull-right">
                  <button data-id="1" id="delete-button" class="btn-lg btn-success">-</button><button data-id="1" id="add-button" data-name="<%=@menuitems[0].name%>" data-price ="<%=@menuitems[0].price%>" class="btn-lg btn-success">+</button>
                </div>
                <p id="quantity">0</p>
                <% end %>
                <hr>
                <p><%=@menuitems[0].description%></p>
                <% if @menuitems[0].quantity == 0 %>
                  <div class="soldout-overlay"><p>Sold out</p></div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="corner"><h2><%=@menuitems[1].quantity%>&nbsp;left</h2></div>
              <img src=<%=@menuitems[1].image_url%> class="img-responsive img-circle">
              <div class="caption">
                <h4 class="beef"><%=@menuitems[1].name%> <small><%=@menuitems[1].price%></small></h4>
                <% if user_signed_in? %>
                <div class="pull-right">
                  <button data-id="2" id="delete-button" class="btn-lg btn-success">-</button><button data-id="2" id="add-button" data-name="<%=@menuitems[1].name%>" data-price ="<%=@menuitems[1].price%>" class="btn-lg btn-success">+</button>
                </div>
                <p id="quantity">0</p>
                <% end %>
                <hr>
                <p><%=@menuitems[1].description%></p>
                <% if @menuitems[1].quantity == 0 %>
                  <div class="soldout-overlay"><p>Sold out</p></div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <div class="corner"><h2><%=@menuitems[2].quantity%>&nbsp;left</h2></div>
              <img src=<%=@menuitems[2].image_url%> class="img-responsive img-circle">
              <div class="caption">
                <h4 class="vege"><%=@menuitems[2].name%> <small><%=@menuitems[2].price%></small></h4>
                <% if user_signed_in? %>
                <div class="pull-right">
                  <button data-id="3" id="delete-button" class="btn-lg btn-success">-</button><button data-id="3" id="add-button" data-name="<%=@menuitems[2].name%>" data-price ="<%=@menuitems[2].price%>" class="btn-lg btn-success">+</button>
                </div>
                <p id="quantity">0</p>
                <% end %>
                <hr>
                <p><%=@menuitems[2].description%></p>
                <% if @menuitems[2].quantity == 0 %>
                  <div class="soldout-overlay"><p>Sold out</p></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

<% else %>

  <div class="container">
      <div class="row text-center">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/hackmai-logo.png', class: "img-responsive col-centered", size:"370x118") %>
        <br />
        <p><strong>Opening Hours: Mon-Fri 11:30am - 2:30pm</strong></p>

        <p>Thank you for visiting Hackmai. <br/> <br/>Stay tuned for our premium rice dishes!</p>
        <br /><br /><br /><br /><br />
      </div>
  </div>

<% end %>

<!-- CheckOut Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align:left">
        <a href="" data-dismiss="modal" id="close-modal">x</a>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
      <!-- Stripe Payment -->
        <%= form_tag charges_path do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="HACKMAI 白米"
                  data-email="<%=current_user.email if current_user%>"
                  data-image="https://s3-us-west-2.amazonaws.com/hackmai/hackmai-logowithbowl2.png"></script>
        <% end %>
      </div>
    </div>
  </div>
  <!-- show spinner image -->
  <div class="image-loader-overlay"></div>
</div>

<script>
    //address autocomplete google map
    var addressInput = $('#address')[0];
    var options = {
        componentRestrictions: {country: 'us'},
        types: ['geocode']
    };
    var autocomplete = new google.maps.places.Autocomplete(addressInput, options);

    // google.maps.event.addListener(autocomplete, 'place_changed', function() {
    //   var place = autocomplete.getPlace();
    //   formatted_address = place.formatted_address;
    //   $('#address').val(formatted_address);
    // });

</script>
<%= render "shared/mainfooter"%>
