<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 pull-right">
        <%=link_to "Checkout", new_order_path, class: "page-scroll btn btn-danger pull-right"%>
      </div>
    </div>
        <br>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src=<%=@menuitems.find(1).image_url%> alt="<%=@menuitems.find(1).description%>">
          <div class="caption">
            <h4><%=@menuitems.find(1).name%> <small><%=@menuitems.find(1).price%><small></h4>
            <div class="pull-right">
              <button data-id="1" id="delete-button" class="btn btn-danger">-</button><button data-id="1" id="add-button" class="btn btn-success">+</button>
            </div>
            <p id="quantity">0</p>
            <hr>
            <p><%=@menuitems.find(1).description%></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src=<%=@menuitems.find(2).image_url%> alt="<%=@menuitems.find(2).description%>">
          <div class="caption">
            <h4><%=@menuitems.find(2).name%> <small><%=@menuitems.find(2).price%><small></h4>
            <div class="pull-right">
              <button data-id="2" id="delete-button" class="btn btn-danger">-</button><button data-id="2" id="add-button" class="btn btn-success">+</button>
            </div>
            <p id="quantity">0</p>
            <hr>
            <p><%=@menuitems.find(2).description%></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src=<%=@menuitems.find(3).image_url%> alt="<%=@menuitems.find(3).description%>">
          <div class="caption">
            <h4><%=@menuitems.find(3).name%> <small><%=@menuitems.find(3).price%><small></h4>
            <div class="pull-right">
              <button data-id="3" id="delete-button" class="btn btn-danger">-</button><button data-id="3" id="add-button" class="btn btn-success">+</button>
            </div>
            <p id="quantity">0</p>
            <hr>
            <p><%=@menuitems.find(3).description%></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src=<%=@menuitems.find(4).image_url%> alt="<%=@menuitems.find(4).description%>">
          <div class="caption">
            <h4><%=@menuitems.find(4).name%> <small><%=@menuitems.find(4).price%><small></h4>
            <div class="pull-right">
              <button data-id="4" id="delete-button" class="btn btn-danger">-</button><button data-id="4" id="add-button" class="btn btn-success">+</button>
            </div>
            <p id="quantity">0</p>
            <hr>
            <p><%=@menuitems.find(4).description%></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src=<%=@menuitems.find(5).image_url%> alt="<%=@menuitems.find(5).description%>">
          <div class="caption">
            <h4><%=@menuitems.find(5).name%> <small><%=@menuitems.find(5).price%><small></h4>
            <div class="pull-right">
              <button data-id="5" id="delete-button" class="btn btn-danger">-</button><button data-id="5" id="add-button" class="btn btn-success">+</button>
            </div>
            <p id="quantity">0</p>
            <hr>
            <p><%=@menuitems.find(5).description%></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src=<%=@menuitems.find(6).image_url%> alt="<%=@menuitems.find(6).description%>">
          <div class="caption">
            <h4><%=@menuitems.find(6).name%> <small><%=@menuitems.find(6).price%><small></h4>
            <div class="pull-right">
              <button data-id="6" id="delete-button" class="btn btn-danger">-</button><button data-id="6" id="add-button" class="btn btn-success">+</button>
            </div>
            <p id="quantity">0</p>
            <hr>
            <p><%=@menuitems.find(6).description%></p>
          </div>
        </div>
      </div>
    </div>
</div>
