<div class="order-index">
  <div class="container">
      <br>
      <div class="row">
            <div class="col-sm-6 col-md-5">
              <h5>Enter Full Delivery Address: </h5><input type="text" class="form-control" id="address" placeholder="Ex: 417 River Road, Des Plaines, IL, United States" value="<%=current_user.address if current_user%>">
            </div>
            <div class="col-sm-4 col-md-3">
              <h5>Enter Phone Number: </h5><input class="form-control" id="phone-input" type="tel" placeholder="Enter Phone Number" value="<%=current_user.phone if current_user%>">
            </div>
            <div class="col-sm-2 col-md-3 pull-right">
              <br>
              <button class="page-scroll btn-lg btn-danger pull-right" id="checkout" data-toggle="modal" data-target="#myModal" disabled>Checkout</button>
            </div>
      </div>
      <hr>
      <br>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src=<%=@menuitems[0].image_url%> class="img-responsive img-circle">
            <div class="caption">
              <h4><%=@menuitems[0].name%> <small><%=@menuitems[0].price%></small></h4>
              <div class="pull-right">
                <button data-id="1" id="delete-button" class="btn-lg btn-danger">-</button><button data-id="1" id="add-button" data-name="<%=@menuitems[0].name%>" data-price ="<%=@menuitems[0].price%>" class="btn-lg btn-success">+</button>
              </div>
              <p id="quantity">0</p>
              <hr>
              <p><%=@menuitems[0].description%></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src=<%=@menuitems[1].image_url%> class="img-responsive img-circle">
            <div class="caption">
              <h4><%=@menuitems[1].name%> <small><%=@menuitems[1].price%></small></h4>
              <div class="pull-right">
                <button data-id="2" id="delete-button" class="btn-lg btn-danger">-</button><button data-id="2" id="add-button" data-name="<%=@menuitems[1].name%>" data-price ="<%=@menuitems[1].price%>" class="btn-lg btn-success">+</button>
              </div>
              <p id="quantity">0</p>
              <hr>
              <p><%=@menuitems[1].description%></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src=<%=@menuitems[2].image_url%> class="img-responsive img-circle">
            <div class="caption">
              <h4><%=@menuitems[2].name%> <small><%=@menuitems[2].price%></small></h4>
              <div class="pull-right">
                <button data-id="3" id="delete-button" class="btn-lg btn-danger">-</button><button data-id="3" id="add-button" data-name="<%=@menuitems[2].name%>" data-price ="<%=@menuitems[2].price%>" class="btn-lg btn-success">+</button>
              </div>
              <p id="quantity">0</p>
              <hr>
              <p><%=@menuitems[2].description%></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src=<%=@menuitems[3].image_url%> class="img-responsive img-circle">
            <div class="caption">
              <h4><%=@menuitems[3].name%> <small><%=@menuitems[3].price%></small></h4>
              <div class="pull-right">
                <button data-id="4" id="delete-button" class="btn-lg btn-danger">-</button><button data-id="4" id="add-button" data-name="<%=@menuitems[3].name%>" data-price ="<%=@menuitems[3].price%>" class="btn-lg btn-success">+</button>
              </div>
              <p id="quantity">0</p>
              <hr>
              <p><%=@menuitems[3].description%></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src=<%=@menuitems[4].image_url%> class="img-responsive img-circle">
            <div class="caption">
              <h4><%=@menuitems[4].name%> <small><%=@menuitems[4].price%></small></h4>
              <div class="pull-right">
                <button data-id="5" id="delete-button" class="btn-lg btn-danger">-</button><button data-id="5" id="add-button" data-name="<%=@menuitems[4].name%>" data-price ="<%=@menuitems[4].price%>" class="btn-lg btn-success">+</button>
              </div>
              <p id="quantity">0</p>
              <hr>
              <p><%=@menuitems[4].description%></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src=<%=@menuitems[5].image_url%> class="img-responsive img-circle">
            <div class="caption">
              <h4><%=@menuitems[5].name%> <small><%=@menuitems[5].price%></small></h4>
              <div class="pull-right">
                <button data-id="6" id="delete-button" class="btn-lg btn-danger">-</button><button data-id="6" id="add-button" data-name="<%=@menuitems[5].name%>" data-price ="<%=@menuitems[5].price%>" class="btn-lg btn-success">+</button>
              </div>
              <p id="quantity">0</p>
              <hr>
              <p><%=@menuitems[5].description%></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; HACKMAI 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">x</button>
        <h3 class="modal-title" id="myModalLabel">checkout</h3>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <%= form_tag charges_path do %>
          <article>
            <label class="amount">
              <span></span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Hackmai Order"
                  data-email="<%=current_user.email if current_user%>"></script>
        <% end %>
      </div>
    </div>
  </div>
</div>
