<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h3>Delivery Information</h3>
      <table>
          <strong>order#: </strong>
          <tr class="active" id="order-id"><td><%=@order.id%></td></tr>
          <tr class="active" id="deli-status"><td><strong>status: </strong><%=@order.deli_status%></td></tr>
          <tr class="active"><td><strong>address: </strong><%=@order.user.address%></td></tr>
          <tr class="active"><td><strong>name: </strong><%=@order.user.username || @order.user.email%></td></tr>
          <tr class="active"><td><strong>create_date: </strong><%=@order.created_at.localtime%></td></tr>
      </table>
      <br />
      <a href="http://maps.google.com/maps?t=m&q=loc:<%=@order.latitude%>+<%=@order.longitude%>" class="btn btn-success">
      Navigate me to customer!</a>
  </div>
    <div class="col-md-6">
      <h3>Order Information</h3>
      <hr>
      <% @order.carts.each do |item|%>
        <p><%=item.menu_item.name%> x <%=item.quantity%> </p>
      <% end %>
    </div>
    <div class="col-md-6">
      <h3>Update Delivery Status</h3>
      <div class="btn-group" id="deli-statuses">
        <button type="button" class="btn btn-default" id="Pending">Pending</button>
        <button type="button" class="btn btn-default" id="Ontheway">Ontheway</button>
        <button type="button" class="btn btn-default" id="Delivered">Delivered</button>
      </div>
      <p id="deli-status">status:<%=@order.deli_status%></p>
      <hr>

    </div>
  </div>

  <%=link_to "Back to Orders list", drivers_path%>
</div>
