<div class="container">
  <div class="row text-center">
    <h2>Welcome Hackmai Driver! We are grateful to have you.</h2>
  </div>
  <!-- Nav tabs -->
  <div class="row text-center">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#manual" role="tab" data-toggle="tab">Hackmai Driver's Manual</a></li>
      <li class="active"><a href="#ordersystem" role="tab" data-toggle="tab">Hackmai GPS System</a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane" id="manual">
      <div class="row text-center">
        <p>Manual</p>
      </div>
    </div>
    <div class="tab-pane active" id="ordersystem">
      <div class="row text-center">
        <p>Orders</p>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td class="active"><strong>#<strong></td>
              <td class="active"><strong>Status<strong></td>
              <td class="active"><strong>Address<strong></td>
              <td class="active"><strong>Phone#<strong></td>
              <td class="active"><strong>Order Date<strong></td>
            </tr>
            <% @orders.each do |order|%>
            <tr>
              <td class="active"><%=link_to order.id, order%></td>
              <td class="active"><%=order.deli_status%></td>
              <td class="active"><%=order.address%></td>
              <td class="active"><a href="tel://<%=order.phone%>"<%=order.phone%></a></td>
              <td class="active"><%=order.created_at.localtime%></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
// Get Driver's current geo location.
$(function() {

    // check whether browser supports geolocation api
    navigator.geolocation.watchPosition(positionSuccess, positionError, { enableHighAccuracy: true });

    function positionSuccess(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        var acr = position.coords.accuracy;

        $.ajax({
          type: "PUT",
          url: '/users',
          data: { user: { latitude: lat, longitude: lng } },
          dataType: 'json'
        });
      }


    // handle geolocation api errors
    function positionError(error) {
        var errors = {
            1: "Authorization fails", // permission denied
            2: "Can\'t detect your location", //position unavailable
            3: "Connection timeout" // timeout
        };
        //showError("Error:" + errors[error.code]);
    }

});
</script>
