<!DOCTYPE html>
<html>
<head>
	<title>HACKMAI: Premium Japanese Rice Dishes Delivery - Chicago </title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<!-- Google map autocomplete -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlio4NY_PeOMAuF_8hOla5g-w2WENOoIA&amp;libraries=geometry,places&amp;sensor=false&amp;language=en-US"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- Pusher script -->
	<script src="https://js.pusher.com/2.2/pusher.min.js"></script>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Favicon -->
	<link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/hackmai/hackmai-favicon.png" />
	<!-- Mobile setting -->
 	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 	<meta name="apple-mobile-web-app-title" content="HACKMAI">
 	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon" href="https://s3-us-west-2.amazonaws.com/hackmai/Icon-60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3-us-west-2.amazonaws.com/hackmai/Icon-76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://s3-us-west-2.amazonaws.com/hackmai/Icon-120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://s3-us-west-2.amazonaws.com/hackmai/Icon-76%402x.png">
	<link rel="apple-touch-startup-image" href="https://s3-us-west-2.amazonaws.com/hackmai/hackmai-logo.png">

	<meta name="description" content="HACKMAI - On-Demand Premium Japanese Rice Dishes Delivery in Chicago! Just a tap away from the premium Japanese rice dishes.">
	<meta name="keywords" content="HACKMAI, order food online, japanese cuisine, rice dish, japanese food, sushi, rice, rice bowl, bento, food delivery near me, thai food delivery, food delivery service, food delivery, chicago, downtown, loop, chicago food delivery, loop food delivery, downtown food delivery, 24 hour food delivery, mexican food delivery, online food delivery, food delivery services, fast food, fast, fresh">

	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body id="page-top" class="index">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header page-scroll">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>
								<%=link_to image_tag("https://s3-us-west-2.amazonaws.com/hackmai/hackmai-logo.png",size: "140x45"), 'javascript:void(0)', class: "navbar-brand"%>
								<!-- Flash message -->
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
										<li class="hidden">
												<a href="#page-top"></a>
										</li>
										<li>
												<a href="javascript:void(0)" id="about-link">About us</a>
										</li>
										<li>
												<a href="javascript:void(0)" id="map-link">Delivery Area</a>
										</li>
<!-- 										<li>
												<a href="javascript:void(0)" id="large-link">Large Orders</a>
										</li> -->
										<li>
											<% if user_signed_in? && current_user.role == "driver" %>
												<a href="javascript:void(0)" id="driver-link">Application</a>
											<% end %>
										</li>
										<% if !user_signed_in? %>
							        <li><%= link_to "Sign up", new_user_registration_path %></li>
							        <li><%= link_to "Log in", new_user_session_path %></li>
							        <li><% if can? :update, @user %>
											| <%= link_to "Admin", admin_root_path %>
												<% end %></li>
										<% else %>
									 		<li class="dropdown">
									        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
									        <%= current_user.username.present? ? current_user.username : current_user.email%>
													<b class="caret"></b></a>
									        <ul class="dropdown-menu navbar-dropdown">
									            <li><%= link_to 'Edit profile', edit_user_registration_path, id: "drop-down-list"%></li>
									            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, id: "drop-down-list" %></li>
									        </ul>
									    </li>
								    <% end %>
								</ul>
						</div>
						<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
		</nav>
<%= flash_messages %>
<%= yield %>

<!-- Modals pop-up -->

<!-- Large modal About us -->
<div class="modal fade bs-example-modal-lg" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-format">
      <!-- About Section -->
      <a href="" class="pull-left" data-dismiss="modal" id="close-modal">X</a>
      <br />
	      <div class="row">
	          <div class="col-lg-12 text-center">
	              <h2 class="section-heading">About us</h2>
	              <h3 class="section-subheading text-muted">Origin of the name</h3>
	              <br/>
	              <%= image_tag('https://s3-us-west-2.amazonaws.com/hackmai/hackmai-logowithbowl2.png', size:"197x236", class: "img-responsive col-centered") %>
	              <br/>
	              <p class="large">
	                  HACKMAI is a combination of English word “Hack” (a clever solution to a tricky problem) and <br>Japanese word “Mai” (Rice). <br>As the words describe, HACKMAI hacks the rice to craft a delicious Japanese rice dish while offering OMOTENASHI delivery experience.<br><br>
	            			</p>
		          <br>

							<h2 class="section-heading">Our Mission</h2>
	            <h3 class="section-subheading text-muted">As HACKMAI we make people happy and productive by...</h3>
	            <br />
	            <div id="list">
		            <ol>
		            	<li> Speed delivering both authentic and original Japanese rice dishes with the best ingredients handcrafted by an experienced Japanese chef.</li><br>
		            	<li> Always humbly finding a best solution to provide quality meals and service.</li><br>
		            	<li> Offering OMOTENASHI experience, a Japanese service concept no simple translation exists. OMOTENASHI service will always think about customers first at a high level.</li><br>
		            </ol>
	          	</div>
	          </div>
    		</div>
  	</div>
	</div>
</div>

<!-- Large modal Contact -->
<div class="modal fade bs-example-modal-lg" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-format">
      <!-- Contact Section -->
      <a href="" class="pull-left" data-dismiss="modal" id="close-modal">X</a>
      <br />
	      <div class="row">
	          <div class="col-lg-12 text-center">
	            <h2 class="section-heading">Contact Us</h2>
	            <h3 class="section-subheading text-muted">Your voice is important.</h3>
	            <a href="mailto:support@hackmai.com">Send E-mail</a>
	          </div>
    		</div>
  	</div>
	</div>
</div>

<!-- Large modal Privacy -->
<div class="modal fade bs-example-modal-lg" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-format">
      <!-- privacy Section -->
			<a href="" class="pull-left" data-dismiss="modal" id="close-modal">X</a>
			<br />
	      <div class="row">
	          <div class="col-lg-12 policy">
	          	<h4 class="text-center">HACKMAI Privacy Policy</h4>
	          	<p>Thank you for visiting our web site. This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
	          	<h5>What personal information do we collect from the people that visit our blog, website or app?</h5>
	          	<p>When ordering or registering on our site, as appropriate, you may be asked to enter your Name, Email address, Mailing address, Phone number or other details to help you with your experience.</p>
	          	<h5>When do we collect information?</h5>
	          	<p>We collect information from you when you register on our site, place an order, subscribe to a newsletter or enter information on our site.</p>
	          	<h5>How do we use your information?</h5>
	          	<p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
	          	<ul>
		          	<li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
		          	<li>To improve our website in order to better serve you.</li>
		          	<li>To allow us to better service you in responding to your customer service requests.</li>
					      <li>To administer a contest, promotion, survey or other site feature.</li>
					      <li>To quickly process your transactions.</li>
					      <li>To send periodic emails regarding your order or other products and services.</li>
				      </ul></p>

							<h5>Do we use 'cookies'?</h5>

							<p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>

							<h5>We use cookies to:</h5>
						      <ul>
						      	<li>Keep track of advertisements.</li>
						      	<li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third party services that track this information on our behalf.</li>
						      </ul>

						  <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</p>

						  <p>If you disable cookies off, some features will be disabled It won't affect the users experience that make your site experience more efficient and some of our services will not function properly.</p>

							However, you can still place orders .</p>

							<h5>Third party links</h5>

							<p>We do not include or offer third party products or services on our website.</p>

							<h5>Distribution of Information</h5>

							<p>We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place. The information is not provided to these companies for marketing purposes.</p>

							<h5>Commitment to Data Security</h5>

							<p>Your personally identifiable information is kept secure. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. All emails and newsletters from this site allow you to opt out of further mailings.</p>


							<h5>If at any time you would like to unsubscribe from receiving future emails, you can</h5><p>Email us at unsubscribe@hackmai.com and we will promptly remove you from ALL correspondence. <strong>unsubscribe@hackmai.com</strong></p>

							<h5>Contacting Us</h5>

							<p>If there are any questions regarding this privacy policy you may contact us using the information below.<p>

							<p>termsandprivacy@hackmai.com</p>

							<p>We reserve the right to make changes at any time to this policy.</p>

							<p>Last Edited on 2014-10-19</p>

	          </div>
    		</div>
  	</div>
	</div>
</div>

<!-- Large modal Terms -->
<div class="modal fade bs-example-modal-lg" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-format">
      <!-- terms Section -->
      <a href="" class="pull-left" data-dismiss="modal" id="close-modal">X</a>
      <br />
	      <div class="row">
	          <div class="col-lg-12 text-center">

	          </div>
    		</div>
  	</div>
	</div>
</div>

<!-- Large modal delivery area -->
<div class="modal fade bs-example-modal-lg" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-format">
      <!-- terms Section -->
      <a href="" class="pull-left" data-dismiss="modal" id="close-modal">X</a>
      <br />
	      <div class="row">
	          <div class="col-lg-12 text-center">
	          	<h2 class="section-heading">Delivery Area</h4>
	          	<hr />
	          	<div id="map-canvas"></div>

	          </div>
    		</div>
  	</div>
	</div>
</div>

<!-- Large modal bulk -->
<div class="modal fade bs-example-modal-lg" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-format">
      <!-- terms Section -->
      <a href="" class="pull-left" data-dismiss="modal" id="close-modal">X</a>
      <br />
	      <div class="row">
	          <div class="col-lg-12 text-center">
	          	<h2 class="section-heading">Large Orders</h2>
	            <h3 class="section-subheading text-muted">Healthy Japanese Rice Dishes for Meeting?<br /> Contact us day before.</h3>
	            <h4>* 10 orders minimum *</h4>
	            <a href="mailto:largeorders@hackmai.com"><i class="fa fa-envelope-o fa-fw"></i>Send email for large orders</a>
	          </div>
    		</div>
  	</div>
	</div>
</div>
</body>
<%= render "shared/footer"%>
</html>
