<!DOCTYPE html>
<html>
<head>
	<title>Healthy Japanese Rice Bowl Just a Click Away | HACKMAI - Chicago</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<!-- Google map autocomplete -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAlio4NY_PeOMAuF_8hOla5g-w2WENOoIA&amp;libraries=places&amp;sensor=false&amp;language=en-US"></script>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1">-->
 	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="HACKMAI - Only healthy smart Japanese rice bowl in Chicago! We're passionate about quality rice, speed delivery, and your health">
	<meta name="keywords" content="HACKMAI, order food online, japanese food, sushi, rice, rice bowl, bento, food delivery near me, thai food delivery, food delivery service, food delivery, chicago, downtown, chicago food delivery, loop food delivery, downtown food delivery, 24 hour food delivery, mexican food delivery, online food delivery, food delivery services, fast food, fast, fresh">

	<!-- Custom Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body id="page-top" class="index">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header page-scroll">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
								</button>
								<%=link_to "HACKMAI", root_path, class: "navbar-brand"%>
								<h1 class="hidden">Hackmai</h1>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
										<li class="hidden">
												<a href="#page-top"></a>
										</li>
										<li>
												<a href="javascript:void(0)" id="about-link">About us</a>
										</li>
										<li>
												<a href="javascript:void(0)" id="order-link">Order</a>
										</li>
								 		<li class="dropdown">
								 				<% if user_signed_in? %>
								        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
								        <%= current_user.username.present? ? current_user.username : current_user.email%>
												<b class="caret"></b></a>
								        <ul class="dropdown-menu">
								            <li><%= link_to 'Edit profile', edit_user_registration_path, id: "drop-down-list"%></li>
								            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, id: "drop-down-list" %></li>
								        <% else %>
								        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sign-up/Login <b class="caret"></b></a>
								        	<ul class="dropdown-menu">
									        	<li><%= link_to "Login", new_user_session_path, id: "drop-down-list"%></li>
										        <li><%= link_to "Sign up", new_user_registration_path, id: "drop-down-list"%></li>
												<% end %>
								        </ul>
								    </li>
								</ul>
						</div>
						<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
		</nav>

<!--  <% flash.each do |name, msg| %>
	 <% if msg.is_a?(String) %>
		 <%= content_tag :div, msg, :class => "flash_#{name}" %>
	 <% end %>
 <% end %> -->

<%= yield %>

<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- About Section -->
      <a href="" class="pull-right" data-dismiss="modal">X</a>
	      <div class="row">
	          <div class="col-lg-12 text-center">
	              <h2 class="section-heading">About us</h2>
	              <h3 class="section-subheading text-muted">Origin of the name HACKMAI</h3>
	              <img src="http://www.cafecompany.co.jp/works/showcase/img/tabetabi_img2.png" class="img-responsive col-centered">
	              <br><br>
	              <p class="large">
	                  HACKMAI is a combination of English word “Hack” (a clever solution to a tricky problem) and <br>Japanese word “Mai” literally mean Rice. <br>As the words describe, HACKMAI hack the rice to craft extraordinary rice bowls and speed deliver it to your place at affordable price.<br><br>
	            			</p>
		          <br>

							<h2 class="section-heading">Our Mission</h2>
	            <h3 class="section-subheading text-muted">As HACKMAI we make people productive and happy by.....</h3>

	            <ol class="large">
	            	<li> Providing order menu where you can navigate in easy 3 clicks.</li><br>
	            	<li> Speed deliver both authentic and original Japanese Rice Bowls that are crafted by hands of experienced Japanese chef.</li><br>
	            	<li> Only use high quality Japanese rice and ingredients that perfectly match the taste and texture of rice.</li><br>
	            	<li> Deliver bowls that complement your performance; bowls are crafted to keep you either healthy, energetic, or sharp.</li><br>
	            </ol>
	          </div>
    		</div>
  	</div>
	</div>
</div>
</body>
<%= render "shared/footer"%>
</html>
